header {
    background-color: white;
    position: sticky;
    background-color: transparent;
    border-bottom: 1px solid white;
    width: 100%;
}

.navbar{
    height: 50px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;
    top: 0; */
    
   
}


.logo {
    font-size: 40px;
    color: white;
    margin-left: 30px;
    font-family: main-title-font;
}


nav ul {
    display: flex;
    justify-content: space-between;
}


nav a {
    color: black;
    /* font-weight: 300; */
}

nav a:hover {
    color: rgb(68, 68, 68);
}


.top-nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .top-nav .menu {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-height: 0;
    
  }
  .top-nav .menu li a {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    font-size: var(--navbar-font-size);
    font-weight: var(--font-weight);
    color: white;
    /* transition: 0.5s ease-out; */
    
  }
  .top-nav .menu li a:link, .top-nav .menu li a:visited {
    color: white;
  }
  .top-nav .menu li a:focus, .top-nav .menu li a:hover, .top-nav .menu li a:active {
    color: white;
    font-weight: 700;
  }
  
  .top-nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
  }
  .top-nav .menu-icon .navicon {
    background: #20232d;
    display: block;
    height: 2px;
    position: relative;
    width: 1.625rem;
  }
  .top-nav .menu-icon .navicon:before, .top-nav .menu-icon .navicon:after {
    background: #20232d;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .top-nav .menu-icon .navicon:before {
    top: 7px;
  }
  .top-nav .menu-icon .navicon:after {
    top: -7px;
  }
  .top-nav .menu-btn {
    display: none;
  }
  .top-nav .menu-btn:checked ~ .menu {
    max-height: 300px;
  }
  .top-nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .top-nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .top-nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  






  .top-nav .menu {
    width: auto;
    max-height: none;
    flex-direction: row;
    margin-right: 30px;
    background: transparent;
  }

  .top-nav .menu-icon {
    display: none;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 7;
    opacity: 1;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    transition: 0.5s ease-out;
}
.sticky-nav {
  color: black !important;
 
}


@media only screen and (max-width: 860px) {

  header {
    transition: 0.5s ease-out;
}

    a.logo {
      margin: 0 20px 0 0;
    }
    
    

    header {
      height: 70px;
    }

    .top-nav {
        width: 100%;
        background: transparent;
    }

    nav li {

        /* margin: 0 auto; */
        width: 100%;
        text-align: center;
      

    }

    .top-nav {
       
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        /* transition: 1s all; */
        background: transparent;
        top: 67px;
      }
      .top-nav .menu {
        list-style: none;
        overflow: hidden;
        margin-right: unset;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-height: 0;
        transition: 0.5s ease-out;
        /* box-shadow: rgb(0 0 0 / 15%) 1px 8px 6px 2px; */
      }
      .top-nav .menu li a {
        display: inline-block;
        min-width: 75px;
        margin: 0.6em 0;
        padding: 0;
        transition: 1s all;
        text-decoration: none;
        font-size: 15px;
        text-align: center;
      }
      .top-nav .menu li a:link, .top-nav .menu li a:visited {
        color: #0d0d0d;
      }
      .top-nav .menu li a:focus, .top-nav .menu li a:hover, .top-nav .menu li a:active {
        color: #20232d;
      }
      .logo {
        font-size: 30px;
        margin-bottom: 20px;
      }

      .top-nav .menu-icon {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
      }
      .top-nav .menu-icon .navicon {
        background: white;
        display: block;
        height: 2px;
        position: relative;
        width: 1.625rem;
      }
      .top-nav .menu-icon .navicon:before, .top-nav .menu-icon .navicon:after {
        background: white;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
        width: 100%;
      }
      .top-nav .menu-icon .navicon:before {
        top: 7px;
      }
      .top-nav .menu-icon .navicon:after {
        top: -7px;
      }
      .top-nav .menu-btn {
        display: none;
      }
      .top-nav .menu-btn:checked ~ .menu {
        max-height: 300px;
        background: white;
        margin: unset;
      }



      
     
      .top-nav .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
      }
      .top-nav .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
      }
      .top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
      }

      .top-nav .menu-icon .navicon.sticky-nav {
        background-color: black;
      }

      .top-nav .menu-icon .navicon.sticky-nav:before {
        background-color: black !important;
      }
      .top-nav .menu-icon .navicon.sticky-nav:after {
        background-color: black !important;
      }
      .top-nav .menu-btn:checked ~ .top-nav .menu-icon .navicon.sticky-nav {
        background-color: transparent !important;
      }

      
}