.section-services {
  height: 70vh;
  position: relative;
}

.section-services::before {
  content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url("https://treehouse.co/uploads/biuro-domowe-home-office.jpg");
    background-size: cover;
    filter: brightness(50%);
  }

.container-services {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: cente;
}
.service-title {
  color: white;
}

.btn-container {
  display: flex;
  flex-direction: column;
}
.btn-box {
  display: flex;
  margin-top: 20px;
  margin-bottom: 80px;
}

.btn {
  color:black;
  display: flex;
  flex-direction: column;
  height: 200;
  width: 260px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 50px;
  font-size: 20px;
  font-weight: 700;
  font-family: var(--paragraph-font);
  padding: 20px 20px;
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
}

.services-ico {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}


@media only screen and (max-width: 750px) {
  .section-services {
    height: 100%;
  }
  .btn-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px 50px 20px;
  }
  .btn-box {
    flex-direction: column;
    margin-top: unset;
    margin-bottom: unset;

  }
  .btn {
    margin-bottom: 20px;
    margin-right: unset;
    height: 160;
    width: 220px;
  }
  .service-title {
    margin-bottom: 20px;
  }

}
@media only screen and (min-width: 750px) and (max-width: 1400px) {
  .btn-box{
    flex-direction: column;
  }
  .btn-container {
    flex-direction: row;
  }
  .btn {
    margin: 0px 10px;
    height: 150px;
    margin-bottom: 20px;
  }
  .section-services {
    height: unset;
  }

  .container-services{
    margin: unset;
    padding-top: 100px;

  }


}
