.section-company {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.company-title {
    font-size: 60px;
}

@media only screen and (max-width: 860px) {

    .container-about {
        flex-direction: column;
    }
    .my-image {
        margin-right: unset;
        margin-bottom: 20px;
        flex: unset;
        width: 100%;
        height: 300px;
    }

    .about-me-description {
        flex: unset;
    }

}