.background-wrapper {
    position: relative;
    min-height: 100vh;
}

.background-wrapper::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100vh;
  background: url("https://bi.im-g.pl/im/51/0a/16/z23113041V,Londynskie-City-.jpg");
  background-size: cover;
  filter: brightness(50%);
}





.welcome-section{
    height: 100vh;
    display: flex;
    position: relative;
}
.welcome-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.main-title {
    font-size: var(--main-title-font-size);
    text-align: center;
    color: white;
}
.welcome-text {
    text-align: center;
    width: 60%;
    margin-top: 50px;
    color: white;
}




@media only screen and (max-width: 860px) {
    .welcome-description {
        margin-right: unset;
    }
    .main-title {
        font-size: 40px;
    }
    .welcome-text  {
        text-align: center;
        width: unset;
        font-size: 14px;
    }
}